---
layout: default
bodyclass: home

seoTitle: RhythmKit - A boilerplate for devs that care about setting type.
seoDescription: Vertical Rhythm, Element queries and awesomizing

featureImg: artwork-013.jpg
featureStatement: ART WORKS FOR YOU

title:
subtitle: St. Louis ArtWorks is AWESOME!

unique-cta:

mega-cta-img:
mega-cta-heading:
mega-cta-button-text:
mega-cta-button-text-url:

reveal: programs
---
<main>

{% include imgBanner.html %}

<div class="megaStatement">
    <h2 class="megaStatement__heading">Check out our awesome programs</h2>
</div>

{% include reveal-box.html %}

{% include articleCTA.html %}
